<ion-header>
  <ion-toolbar>
    <ion-title>
     Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="3">
    <ion-item>
      <ion-icon slot="start" color="danger" name="Settings"></ion-icon>
      <ion-label color="danger">Account Settings</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="danger" name="card"></ion-icon>
      <ion-label color="danger">My Points</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="danger" name="book"></ion-icon>
      <ion-label color="danger">Recent Order</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="danger" name="flag"></ion-icon>
      <ion-label color="danger">Language</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="danger" name="book"></ion-icon>
      <ion-label color="danger" >About</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="danger" name="book"></ion-icon>
      <ion-label color="danger">Contact Us</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="danger" name="log-out"></ion-icon>
     <br><br><br> <ion-label color="danger">SIGN OUT</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
