<ion-header>
  <ion-toolbar>
    <ion-title>
     Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/logo_produkku.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Welcome to Flawlessbe</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>To Caring your Skin</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">

      <ion-item href="../app/all_brands.html">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
       <td valign="center"> <ion-label>SEE ALL BRANDS</ion-label></td>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <td valign="center"><ion-label>BEST SELLER</ion-label></td>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <td valign="center"><ion-label>WHATS NEW</ion-label></td>
      </ion-item>
    </ion-list>
</ion-content>
