<ion-header>
  <ion-toolbar>
    <ion-title>
     Notification
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/Cetaphil_Gentle_Skin_Cleanser.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title><h5>Shipped Out</h5></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>order 102324125V72YD Has been shipped out by Flawlessbe. Click for here more info on tracking your order</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <ion-img src="/assets/Nacific-Real-Floral-Toner-Rose.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title><h5>Shipped Out</h5></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>order 3442324125LL2BS Has been shipped out by Flawlessbe. Click for here more info on tracking your order</p>
      </ion-card-content>
    </ion-card>
  
</ion-content>
